<div class="nested-fields">
  <%= f.label :longitude %><br/>
  <%= f.text_field :longitude %><br/>
  <%= f.label :latitude %><br/>
  <%= f.text_field :latitude %>
  <%= f.hidden_field :created_at, value: DateTime.now %>
</div>
