<%if !user.infected?  %>
  <div class="card" style="width: 18rem;">
    <% if user.avatar_attachment.present? %>
      <%= image_tag( user.avatar ,class: "card-img-top") %>
    <%end%>
    <%= link_to "Inventory", user_path(user) %>
    <div class="card-body">
      <h5 class="card-title"><%=user.name%></h5>
      <h6 class="card-title">
        <%if user.location_history%>
          <%=location_array(user.location_history).last['longitude']%>
          <%=location_array(user.location_history).last['latitude']%>
        <%end%>
      </h6>
      <% if !current_user.infected? %>
        <% if !current_user.voted_up_on? user %>
          <%= link_to like_user_path(user), class: "like",method: :put do%>
            <button type="button" class ="btn btn-info" arial-label ="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center " aria-hidden="true">
              </span>
              <span class="badge">
                Flag
              </span>
            </button>
          <% end %>
        <% else %>
          <%= link_to unlike_user_path(user), class: "like",method: :put do%>
            <button type="button" class ="btn btn-info" arial-label ="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center " aria-hidden="true">
              </span>
              <span class="badge">
                Unflag
              </span>
            </button>
          <% end %>
        <% end%>
        <%= link_to "Inventory", user_path(user) %>
      <%end %>
    </div>
  </div>
<%end%>
